<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include("component/head.ejs") %>
</head>

<body style="height: 100vh" class="p-0 m-0 bg-dark">
    <%- include('component/navbar', {
        authenticated: authenticated
    }) %>

    <%- include(`layout/${layoutName}`) %>

</body>

</html>