<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include("component/head.ejs") %>
</head>

<body style="height: 100vh">
    <%- include("component/admin-statstable.ejs",stats) %>
    
</body>

</html>