<button type="button" class="btn btn-success mx-3" data-toggle="modal" data-target="#addLocationQuick">
    <i class="fa fa-plus" aria-hidden="true"></i>
</button>
<%- include("addlocation-quick.ejs") %> 