<div class="container-fluid text-light py-2 my-2">
    <h3 class="w-100 text-center text-light py-1">Manage CoViD-19 data</h3>
    <small class="w-100 text-center text-light pb-2 d-block"><em>Only stats for the latest date can be
            modified!</em></small>
    <input class="form-control my-2" id="tableSearch" type="text" placeholder="Filter stats by location">
    <div class="row justify-content-between px-3">
        <div>
            <button type="button" class="btn btn-success my-2" data-toggle="modal" data-target="#record_add"><i
                    class="fa fa-plus mr-1" aria-hidden="true"></i> Add new record</button>
            <button type="button" class="btn btn-warning my-2" id="bulk-update">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                Get latest data
            </button>
        </div>
        <div>
            <div class="dropdown d-inline-block">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage data for: 
                    <span class="bg-transparent border rounded border-transparent text-light" id="location-select" style="width: 5rem; border: none !important"><%- location %></span>
                </button>
                <div class="dropdown-menu w-100" id="location-dropdown" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" id="location-world" href="#">World</a>
                    <a class="dropdown-item" id="location-vietnam" href="#">Vietnam</a>
                </div>
            </div>
            <span class="btn btn-secondary my-2 py-1" id="bulk-update">
                <i class="fas fa-calendar fa-sm fa-fw"></i>
                View by date:
                <input type="date" min="2020-01-23" class="border rounded ml-2 p-0"
                    name="date-select" id="date-select" value="<%- new Date(Object.values(stats)[0].timestamp).toISOString().substring(0,10) %>" />
            </span>
        </div>
    </div>
    <%- include('stats-form.ejs', {
        id: "record_add"
    }) %>
    <table class="table table-dark" id="table">
        <%- include('statstable-standalone.ejs', {
            stats: stats,
            location: location
        }) %> 
    </table>
</div>
<script>
    function renderTable() {
        const location = document.querySelector("#location-select").textContent;
        const date = document.querySelector("#date-select").value;
        let status;
        showLoadingModal();
        fetch(`/admin/statstable?location=${location}&date=${date}`, {
            method: 'POST'
        }).then(res => {
            status = res.status;
            return res.text();
        })
        .then(html => {
            if (status === 400) {
                fetch('/?page=overview').then(() => {
                    window.location.reload();
                })
            } else {
                $('#table').html(html);
                removeLoadingModal();
            }
        })
    }
</script>
<script>
    document.querySelector('#location-select').value = "World";
    document.querySelector('#date-select').max = new Date().toISOString().substring(0, 10);
    $('#location-dropdown > a').on('click', (event) => {
        document.querySelector('#location-select').textContent = event.currentTarget.textContent;
        renderTable();
    });
    $('#date-select').on('input', renderTable);
</script>
<script>
    const nonQueryResponseHandler = res => {
            $('.modal.show').modal('hide');
            const status = res.status;
            let lang;
            if (document.cookie.includes('lang=')) {
                const regex = /lang=.+/;
                lang = regex.compile().exec(document.cookie)[0].replace('lang=', '');
            } else {
                lang = 'en';
            }
            showMessageModal(status !== 200 ? 'danger' : 'success',
                resources[lang][`title_${status}`],
                resources[lang][`content_${status}`],
                modalToRemove = "record_add",
                dismissCallback = () => {
                    showLoadingModal();
                    window.location.reload();
                });
            setTimeout(removeLoadingModal, 100);
        }
</script>
<script>
    // deal with bulk update
    $('#bulk-update').on('click', (event) => {
        event.preventDefault();
        showLoadingModal();
        fetch('/admin/records/updatebulk', {
            method: 'PUT'
        }).then(nonQueryResponseHandler);
    });
</script>
<script defer>
    //show form
    const addBtn = document.querySelector('#add-btn');
    async function onAdd(e) {
        e.preventDefault();
        showLoadingModal();
        const record = getRecordData();
        // console.log(record);
        fetch('/admin/records/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(record)
        }).then(nonQueryResponseHandler)

        // console.log(response);
    }
    addBtn.addEventListener('click', onAdd);

</script>