<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/renderCaseDistribution.js"></script>
</head>
<body>
    <div id="<%- name %>" style="width: 900px; height: 500px;">
        <script src="js/renderCaseDistribution.js" defer>
        </script>
        <script defer>
            renderCaseDistribution(JSON.parse('<%- chartdata %>'), id="<%- name %>");
        </script>
    </div>
</body>
</html>