<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Homepage</a>
    <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#loginModal">Log in</a>
</nav>
<%- include("login-modal.ejs") %>