<style>
    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-menu>.dropdown-item:hover {
        color: black !important;
    }

    .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
</style>
<script src="js/modal.js"></script>
<nav class="navbar navbar-dark bg-black">
    <div style="display: flex; flex-direction: row;">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle nav-link text-light" href="#" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Go to Page
            </a>
            <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-light navigatable" href="#" data-layout="overview">Home</a>
                <a class="dropdown-item text-light navigatable" href="#" data-layout="report">Analytics</a>
                <% if (authenticated) { %>
                    <a class="dropdown-item text-light navigatable" href="#" data-layout="dashboard">Management</a>
                <% } %>
                <a href="https://ncov.moh.gov.vn/" class="dropdown-item text-light">Ministry of Health</a>
                <button type="button" class="dropdown-item text-light" href="#" data-toggle="modal" data-target="#aboutModal">About</button>
            </div>
        </div>
    </div>
    <div>
        <a class="navbar-brand navigatable" href="#" style="margin-left: 25px;" data-layout="<%- authenticated ? 'dashboard' : 'overview'%>">Covid Tracker</a>
    </div>

    <div class="d-flex flex-row justify-content-end w-auto">
        <% if (authenticated) { %>
        <span class="text-light m-1">Hello, <%- username %>!</span>
        <a name="logout" id="logout" class="btn text-light p-0 m-1" href="#"
            onclick="fetch('/logout', {method: 'POST'}).then(res => window.location.reload())" role="button">
            Log out
        </a>
        <% } else { %>
        <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#loginModal">Log in</a>
        <%- include("login-modal.ejs") %>
        <% } %>

        <!-- <div style="display:flex; flex-direction: row; align-items: center; width: 50px; justify-content: space-around;">
            <img src="img/vietnamLa.png">
            <img src="img/englandLa.png">
        </div> -->
    </div>
    <%- include('../component/about-modal') %> 
</nav>
<script defer>
    $('.navigatable').on('click', (event) => {
        const currentPage = readCookie('page') !== null ? readCookie('page') : 'overview';
        const targetPage = event.currentTarget.dataset.layout;
        if (currentPage == targetPage || currentPage === undefined || currentPage === 'undefined') return;
        fetch(`/?page=${targetPage}`,{method: 'POST'}).then(res => {
            showLoadingModal();
            window.location.reload();
        });
    })
</script>