<div class="row" id="worldLatest_result"></div>
<div class="row" id="worldTrend_result"></div>
<div class="row" id="worldMap_result"></div>
<div class="row" id="countryTop10_result"></div>
<div class="row" id="caseDistribution_result"></div>
<div class="row" id="vietnameseDistribution_result"></div>
<div class="row" id="vietnameseLatest_result"></div>
<div class="row" id="vietnameseTable_result"></div>
<div class="row" id="continentLatest_result"></div>
<div class="row" id="continentTrends_result"></div>
<div class="row" id="countryStats_result"></div>
<div class="row" id="countryTrend_result"></div>