<html>
  <head>
    <link href="css/jquery-jvectormap-2.0.5.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="js/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="https://jvectormap.com/js/jquery-jvectormap-asia-mill.js"></script>
    <style>
      body { margin: 0; }
    </style>
  </head>
  <body>
    <h2>Testing the JVectorMap</h2>
    <div id="map">
    </div>
    <script>
      const gdpData = {
        "VN": 199,
        "CN": 100
      };
      $(function(){
        $('#map').vectorMap({map: 'asia_mill',
          series: {
            regions: [{
              values: gdpData,
              scale: ['#C8EEFF', '#0071A4'],
              normalizeFunction: 'polynomial'
            }]
          }});
      });
    </script>
  </body>
</html>