<div class="stats-list-warpper" >
    <h5 class="title">Worldwide statistics</h5>
        <% recordByPoi.forEach(recordByPoi => { %>
        <div class="stats-byPoi">
            <div class="country-name"><%- `${recordByPoi.poiName}` %></div> 
            <div class="stats">
                <span class="infected" id="infectedByPoi"><%- `${recordByPoi.infected}` %></span>
                <span class="death" id="deathByPoi"><%- `${recordByPoi.death}` %></span>
                <span class="recovered" id="recoveredByPoi"><%- `${recordByPoi.recovered}` %></span>                    
            </div>
        </div>       
    <% }) %>
</div>