<div class="card-column" style="column-count: 1;">
    <h6 class="text-light">World stats</h6>
    <div class="">
    <% recordByPoi.forEach(recordByPoi => { %>
    <div class=""></div>
        
        <div class="card-body p-2">
            <p class="card-text text-light"><%- `By: ${recordByPoi.poiName}` %></p>
            <p>dhfjsdjlj</p>
        </div>
    </div>
    <% }) %>
</div>
</div>