<!-- Modal -->
<div class="modal fade" id="status_modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Successful</h5>
            </div>
            <div class="modal-body">
                Operation successful!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.reload()">Continue</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#status_modal').on('hidden.bs.modal', (event) => {
        $('#status_modal').remove();
    });
</script>