<div class="container">
    <h4 class="text-center p-3">Customize your view on CoViD-19 data</h4>
    <%- include('../component/report-include') %>
    <div class="container mt-3 border border-warning rounded" id="result-container">
        <!-- <h4>Results are presented inside this</h4> -->
        <%- include('../component/report-result-placeholder') %>
    </div>
</div>